<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="centered">
        <h1><%= product.title %></h1>
        <hr>
        <div class="image">
            <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
        </div>
        <h2>$<%= product.price %></h2>
        <p><%= product.description %></p>
        <% if (loggedIn) { %>
            <%- include('../includes/updateCartBtn.ejs', {product, action: 'add', btnText: 'Add To Cart'}) %> <!--  You don't need to pass the product as you are not in a for loop, where the product is local. The product here is global -->
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>